<!DOCTYPE html>
<html>
  <head>
    <title>ScheduledReminders</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body  style="text-align: center;">
  <h1>Welcome to Scheduled Reminder Application</h1>
  <h3>A small, simple Ruby on Rails application that sends monthly scheduled reminders to users</h3>
  <div style="border: black solid;">
    <%= yield %>
    <br/><br/>
    <%if current_user%>
       <%= button_to "Logout", '/logout', method: :get%>
    <%end%>  
    </div>
  </body>
</html>
